.button {
  background-color: $blue;
  border: none;
  border: 1px solid $white;
  color: $white;
  font-size: 14px;
  margin-right: 6px;
  padding: 6px 19px;
  -webkit-appearance: none;
  transition: background-color 0.4s ease, color 0.4s ease;

  &:hover {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
  }
}