.list-filter {
  border-bottom: 1px solid $blue;
  padding: 12px;

  ._name {
    color: $medium;
    font-size: 12px;
    padding-bottom: 2px;
  }

  ._name, ._score, ._user, ._date {
    display: inline-block;
    padding: 0 12px 0 0;
    cursor: pointer;
    outline: 0;
  }

  ._list-select {
    padding-bottom: 12px;
  }
}