.load-container {
  background-color: $grey;
  top: 0;
  height: 16px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: transform 0.2s ease;

  &.-hidden {
    transform: translateY( -16px );
  }

  ._loader {
    background-color: $charcoal;
    color: $white;
    height: 16px;
    font-size: 14px;
    text-align: center;
    transition: width 0.2s ease;
    z-index: 2;
  }
}