.splash {
    background-color: $white;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: $z_layer_intro;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.-hidden {
        opacity: 0;
        visibility: hidden;
    }

    ._loader {
        background-image: url('../static/drone.gif');
        background-size: 120px 120px;
        height: 120px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
    }
}