/******************************************************************************
 * Document
*******************************************************************************/

html {
    background-color: $white;
}

body {
    background-color: transparent;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-family-sans();
}

.root {
    transition: opacity 0.4s ease, visibility 0.4s ease;

    &.-show {
        opacity: 1;
        visibility: visible;
    }

    &.-hide {
        opacity: 0;
        visibility: hidden;
    }
}